<p>Hi <% @user.firstname %> -</p>

<p>We're excited to have you join us for The Breaking Point 2 (LML Duramax)! We're also pumped to hook you up with a VIP pass and have you join us for all the pre-show events.</p>

<p>It's going to be an exciting week! Here's all the VIP info you'll need.<br /></p>

<p><strong>Meet 'n' Greet - Tuesday, April 23, 2013 @ 1:00pm MST</strong> (two days before the event)<br />
<%= link_to "Click here to enter the Meet 'n' Greet.", root_url %></p>

<p><strong>Pre-Show Q&amp;A - Thursday, April 25, 2013 @ 12:00pm MST</strong> (one hour before the event)<br />
<%= link_to "Click here to enter the Pre-Show Q&A.", root_url %></p>

<p>Don't forget to head over to the H&amp;S online store and order your Breaking Point event t-shirts. Remember, there's a limited supply and once they're gone they're gone.</p>

<p>Use the discount code XXXX at get $10 off.</p>

<p><strong>The Main Event! - Thursday, April 25, 2013 @ 1:00pm MST</strong><br />
<%= link_to "Click here to enter the Breaking Point 2.", root_url %></p>

<p>Let the good times roll!</p>

<p>- H&amp;S Crew</p>