<section class="discussion">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="discussion-heading">
					<h2>Social Dashboard <a href="https://twitter.com/intent/tweet?text=%40hsperformance+Definitely+not+gonna+miss+this&url=http%3A%2F%2Fwww.breakingpoint2.com&hashtags=HSBP2" onclick="window.open(this.href, 'targetWindow', 'toolbar=no, location=no, status=sno, menubar=no, scrollbars=yes, resizable=yes, width=600,height=400');return false;">#hsbp2</a></h2>
					<h4>People are everywhere, but discussions happen here..</h4>
				</div>
				<div class="discussion-buttons">
					<div class="row">
						<div class="span3">
							<div class="discus-btn"><a class="btn btn-facebook btn-block" href="http://facebook.com/sharer.php?u=http://www.breakingpoint2.com" onclick="window.open(this.href, 'targetWindow', 'toolbar=no, location=no, status=sno, menubar=no, scrollbars=yes, resizable=yes, width=600,height=400');return false;"><span class="ss-icon">facebook</span> Share</a></div>
						</div>

						<div class="span3">
							<div class="discus-btn"><a class="btn btn-twitter btn-block" href="https://twitter.com/intent/tweet?text=%40hsperformance+Definitely+not+gonna+miss+this&url=http%3A%2F%2Fwww.breakingpoint2.com&hashtags=HSBP2" onclick="window.open(this.href, 'targetWindow', 'toolbar=no, location=no, status=sno, menubar=no, scrollbars=yes, resizable=yes, width=600,height=400');return false;"><span class="ss-icon">twitter</span> Tweet</a></div>
						</div>
					</div>
				</div>
				<div class="discuss-twitter">
					<a class="twitter-timeline" href="https://twitter.com/search?q=%23hsbp2" data-widget-id="327174569741910016">Tweets about "#hsbp2"</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>

			<div class="span6">
				<div class="the-discussion">
					<div id="disqus_thread"></div>
					<script type="text/javascript">
					    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					    var disqus_shortname = 'hsperformance'; // required: replace example with your forum shortname
					    var disqus_identifier = 'root';

					    /* * * DON'T EDIT BELOW THIS LINE * * */
					    (function() {
					        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					    })();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="recap" id="recap">
	<div class="container">
		<div class="row">
			<div class="offset6 span6">
				<div class="section-heading">
					<h2>Breaking Point 1 Recap</h2>
					<h4>Ford 6.7L, a new level of respect</h4>
				</div>
				<div class="section-body">
					<p>The first Breaking Point was completely jaw-dropping. We took a stock Ford 6.7L Scorpion engine, bolted on a few parts from
					<a href="http://www.hs-motorsports.com">H&amp;S Motorsports</a>, and hit 884 horsepower before the transmission slipped.</p>

					<div class="play-video-btn">
						<a class="play-video ss-icon ss-standard" href="https://vimeo.com/64251279" target="_blank">play</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="the-truck" id="specs">
	<div class="container">
		<div class="row">
			<div class="offset1 span6">
					<div class="section-heading inner">
					<h2>Breaking Point</h2>
					<h4>Spec sheets</h4>
				</div>

				<div class="section-body">
					<p>Both engines are 100% stock (internally). We've bolted on the following additions to allow the engines to be pushed to their "Breaking Point".</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="spec-sheet">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="spec-text">
					<h4>Breaking Point 1 - Spec Sheet</h4>

					<strong>2011-2013 Ford Powerstroke 6.7L Scorpion</strong>
					<ul>
						<li><a href="http://www.hs-motorsports.com/" target="_blank">H&amp;S Motorsports</a> Dual High Pressure Fuel Pump Kit*<br />
						<span>The factory fuel system is capable of around 500 HP, we needed more than that.</span></li>
						<li><a href="http://www.hs-motorsports.com/" target="_blank">H&amp;S Motorsports</a> Custom Turbo*<br />
						<span>Added to provide more air-flow to the engine.</span></li>
						<li>Stock Transmission with <a href="http://www.hsperformance.com/mini-maxx/2011-2012-6-7l-ford-powerstroke-mini-maxx-street/" target="_blank">H&amp;S Transmission Tuning</a><br />
						<span>No aftermarket options were available for this truck. We're currently working with a transmission builder in our quest to hold more power. Once we have this, we'll re-test.</span></li>
						<li><a href="http://www.hsperformance.com/mini-maxx/" target="_blank">Mini Maxx Tuner</a> with H&amp;S Maxx Calibration Control (MCC) tuning on the ECM and TCM.<br />
						<span>Now available for purchase.</span></li>
					</ul>
					<p>Results: 2.28.13<br />
					Hit 884 horsepower and 1600+ lb*ft of torque before the transmission began to slip.</p>
				</div>
			</div>

			<div class="span6">
				<div class="spec-text">
					<h4>Breaking Point 2 - Spec Sheet</h4>

					<strong>2011-2013 Chevy/GMC LML Duramax 6.6L</strong>
					<ul>
						<li><a href="http://www.hs-motorsports.com/" target="_blank">H&amp;S Motorsports</a> Dual High Pressure Fuel Pump Kit*<br />
						<span>The factory fuel system is capable of around 500 HP, we needed more than that.</span></li>
						<li><a href="http://www.pureflowairdog.com/airdogII.php" target="_blank">Airdog II</a> DF-165 Lift Pump<br />
						<span>We needed to supply plenty of clean fuel to the high pressure fuel pumps.</span></li>
						<li>Custom Compound Turbo Kit (fabricated by H&amp;S Motorsports)<br />
						<span>This kit was added to provide more air-flow to the engine.</span></li>
						<li><a href="http://www.atsdiesel.com/ats2/" target="_blank">ATS</a> built Allison Transmission<br />
						<span>The stock transmission slipped in our pre-run tests at 568 HP. We know the engine in the LML is capable of more than that, so we need a transmission that will allow us to push the limits further.</span></li>
						<li><a href="http://www.hsperformance.com/mini-maxx/" target="_blank">Mini Maxx Tuner</a> with H&amp;S Maxx Calibration Control (MCC) Tuning<br />
						<span>We're currently developing the MCC software for the 2011-2013 6.6L Duramax. For updates, sign up for our <a href="http://www.hsperformance.com/newsletter/" target="_blank">H&amp;S Performance newsletter</a>.</span></li>
						<li><a href="http://www.bmfwheels.com/wheels/novakane.html?lug=8&style=death-metal-black" target="_blank">BMF Wheels</a> Novakane 8 in "Death Metal"<br />
						<span>Why? Well, because we love their wheels.</span></li>
					</ul>
					<p>Results: To be determined 4.25,13</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12 text-center margin-top">
				<span class="small-text">*In development for release to public. For updates, sign up for the H&amp;S Motorsports newsletter.</span>
			</div>
		</div>
	</div>
</section>

<section class="tshirts" id="tshirts">
	<div class="container">
		<div class="row">
			<div class="offset7 span5">
				<div class="section-heading">
					<h2>Breaking Point Tee's</h2>
					<h4>"Been there, done that, forgot the t-shirt." - said no one ever</h4>
				</div>

				<div class="section-body">
					<p>Originally, we were only going to print enough tee's for our own crew. Then we realized it's not just our event.</p>
					<p>However, only 250 people will be able to purchase a shirt. If you're only mildly interested, skip it to make room for someone else.</p>
					<p>Although, if you want to be one of the 250...</p>
					<a href="http://www.hsperformance.com/bpshirts" target="_blank" class="btn btn-success">Buy Now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="giveaways" id="giveaways">
	<div class="container">
		<div class="section-heading inner text-center">
			<h2>Giveaway</h2>
			<h4>Get 3 FREE issues of Diesel Tech (it's on us)</h4>
		</div>

		<div class="giveaway-body">
			<p>We're big fans of their magazine, we think you'll like it too.</p>
			<a href="http://www.harrispublishingpromotions.com/breakingpoint2/" target="_blank" class="btn btn-success">Get your FREE issues</a>
		</div>
	</div>
</section>
<hr id="faq" />
<section class="faq">
	<div class="container">
		<div class="section-heading text-center">
			<h2>FAQ</h2>
			<h4>You might be wondering the same things.</h4>
		</div>

		<div class="section-body">
			<ul class="questions">
				<li>Will you ever test the Ford again?<br /><span>Yes. First we need a transmission that can handle additional power. As soon as we have the new tranny finished, the Ford will be ready for round two.</span></li>
				<li>Will the video feed be higher quality?<br /><span>Yes. Multiple camera angles all streaming in HD.</span></li>
				<li>Will I be able to hear the voices better?<br /><span>Yes. We've purchased the highest quality sound equipment we could find.</span></li>
				<li>Where can I find the specs of the truck?<br /><span>Get a VIP pass and we'll take you on a step-by-step tour through the build of the Duramax.</span></li>
				<li>What if I can't watch it live?<br /><span>Honestly, kind of a bummer. But yes, we'll have it all recorded online so you can watch it any time.</span></li>
				<li>How come you do multiple runs instead of just running it until it explodes?<br /><span>The goal is to see how much horsepower the engine will hold. To do this, we step up the power gradually so we know precisely at what point the engine fails. If we just wanted to watch it blow up we'd put it out in the parking lot with a stick of dynamite.</span></li>
			</ul>
		</div>
</section>
<hr id="network" />
<section class="network">
	<div class="container">
		<div class="section-heading text-center">
			<h2>Network</h2>
			<h4>Other useful products, first-rate companies and innovative ideas that<br />supported our first Breaking Point.</h4>
		</div>

		<div class="section-body">
			<div class="row">
				<div class="span4">
					<div class="network-sponsor ats"><a href="http://www.atsdiesel.com" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor dieselsellerz"><a href="http://www.dieselsellerz.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor alligator"><a href="http://www.alligatorperformance.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor complete-performance"><a href="http://www.cptrucks.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor rudys"><a href="http://www.rudysdiesel.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor thoroughbred"><a href="http://www.thoroughbreddiesel.com/" target="_blank"></a></div>
				</div>

				<div class="offset4 span4">
					<div class="network-sponsor ptp"><a href="http://performancetruckproducts.com/brands/hs-performance" target="_blank"></a></div>
				</div>
			</div>

			<div class="text-center margin-top">
				Want to learn how to be part of our network? Email <a href="mailto:media@hsperformance.com">media@hsperformance.com</a>
			</div>
		</div>
	</div>
</section>