<section class="video-player">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="logo">
				</div>
				<div class="event-time">
					Thursday @ 1:00 (MST)
				</div>
			</div>

			<div class="span8">
				<!-- Video Player Here -->
				<div class="the-stream">
					Livestream is currently having down time. Bear with us.
				</div>
			</div>
		</div>
	</div>
</section>

<section class="the-truck" id="truck">
	<div class="container">
		<div class="row">
			<div class="offset1 span6">
					<div class="section-heading inner">
					<h2>Breaking Point</h2>
					<h4>Spec sheets</h4>
				</div>

				<div class="section-body">
					<p>Both engines are 100% stock (internally). We've bolted on the following additions to allow the engines to be pushed to their "Breaking Point".</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="spec-sheet">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="spec-text">
					<h4>Breaking Point 1 - Spec Sheet</h4>

					<strong>2011-2013 Ford Powerstroke 6.7L Scorpion</strong>
					<ul>
						<li><a href="http://www.hs-motorsports.com/" target="_blank">H&amp;S Motorsports</a> Dual High Pressure Fuel Pump Kit*<br />
						<span>The factory fuel system is capable of around 500 HP, we needed two more than that.</span></li>
						<li><a href="http://www.hs-motorsports.com/" target="_blank">H&amp;S Motorsports</a> Custom Turbo*<br />
						<span>Added to provide more air-flow to the engine.</span></li>
						<li>Stock Transmission with <a href="http://www.hsperformance.com/mini-maxx/2011-2012-6-7l-ford-powerstroke-mini-maxx-street/" target="_blank">H&amp;S Transmission Tuning</a><br />
						<span>No aftermarket options were available for this truck. We're currently working with a transmission builder in our quest to hold more power. Once we have this, we'll re-test.</span></li>
						<li><a href="http://www.hsperformance.com/mini-maxx/" target="_blank">Mini Maxx Tuner</a> with H&amp;S Maxx Calibration Control (MCC) tuning on the ECM and TCM.<br />
						<span>Now available for purchase.</span></li>
					</ul>
					<p>Results: 2.28.13<br />
					Hit 884 horsepower and 1600+ lb*ft of torque before the transmission began to slip.</p>
				</div>
			</div>

			<div class="span6">
				<div class="spec-text">
					<h4>Breaking Point 2 - Spec Sheet</h4>

					<strong>2011-2013 Chevy/GMC LML Duramax 6.6L</strong>
					<ul>
						<li><a href="http://www.hs-motorsports.com/" target="_blank">H&amp;S Motorsports</a> Dual High Pressure Fuel Pump Kit*<br />
						<span>The factory fuel system is capable of around 500 HP, we needed two more than that.</span></li>
						<li><a href="http://www.pureflowairdog.com/airdogII.php" target="_blank">Airdog II</a> DF-165 Lift Pump<br />
						<span>We needed to supply plenty of clean fuel to the high pressure fuel pumps.</span></li>
						<li>Custom Compound Turbo Kit (fabricated by H&amp;S Motorsports)<br />
						<span>This kit was added to provide more air-flow to the engine.</span></li>
						<li><a href="http://www.atsdiesel.com/ats2/" target="_blank">ATS</a> built Allison Transmission<br />
						<span>The stock transmission slipped in our pre-run tests at 568 HP. We know the engine in the LML is capable of more than that, so we need a transmission that will allow us to push the limits further.</span></li>
						<li><a href="http://www.hsperformance.com/mini-maxx/" target="_blank">Mini Maxx Tuner</a> with H&amp;S Maxx Calibration Control (MCC) Tuning<br />
						<span>We're currently developing the MCC software for the 2011-2013 6.6L Duramax. For updates, sign up for our <a href="http://www.hsperformance.com/newsletter/" target="_blank">H&amp;S Performance newsletter</a>.</span></li>
						<li><a href="http://www.bmfwheels.com/wheels/novakane.html?lug=8&style=death-metal-black" target="_blank">BMF Wheels</a> Novakane 8 in "Death Metal"<br />
						<span>Why? Well, because we love their wheels.</span></li>
					</ul>
					<p>Results: To be determined 4.25,13</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12 text-center margin-top margin-bottom">
				<span class="small-text">*In development for release to public. For updates, sign up for the H&amp;S Motorsports newsletter.</span>
			</div>
		</div>
	</div>
</section>